openapi: 3.0.0
info:
  title: TimeCamp [v1] Approvals [v1] Approvals [v3] Storage API
  version: '1.0'
  contact:
    email: support@timecamp.com
  termsOfService: https://www.timecamp.com/terms-conditions/
  description: 'Documentation for the TimeCamp system.


    Get your API token here:

    https://app.timecamp.com/app#/settings/users/me


    Be aware that you can reach API calls limit. Once you do you will get HTTP code 429 response.


    Request example:


    ```

    GET https://app.timecamp.com/third_party/api/user?user_id=1234567


    Headers:

    Authorization: Bearer 87c21299960a88888888fe123

    Accept: application/json

    ```

    '
servers:
- url: https://app.timecamp.com/third_party/api
  description: PRODUCTION
- url: https://v4.api.timecamp.com
  description: PRODUCTION
tags:
- name: '[v3] Storage'
  x-displayName: Storage
paths:
  /v3/storage/download/{id}:
    parameters:
    - schema:
        type: string
        example: '15'
      name: id
      in: path
      required: true
    get:
      summary: Storage get file
      tags:
      - '[v3] Storage'
      responses:
        '200':
          description: Successful file download
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
              examples:
                exampleFile:
                  summary: Example file download
                  value: Binary file content
      operationId: get-storage-download-id
      security:
      - api_key_in_header: []
  /v3/storage/file/list/root-group:
    get:
      summary: Get the list of files from the user's main group
      tags:
      - '[v3] Storage'
      parameters:
      - name: createdFrom
        in: query
        schema:
          type: string
          format: date-time
        description: Optional timestamp from which files are searched. ISO 8601 format
      - name: createdTo
        in: query
        schema:
          type: string
          format: date-time
        description: Optional timestamp to which files are searched. ISO 8601 format
      responses:
        '200':
          description: List of files in the main group
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        userId:
                          type: integer
                          description: Identifier of owner of the file
                        name:
                          type: string
                          description: File Identifier.
                        createdAt:
                          type: string
                          format: date-time
                          description: File creation time.
                        lastModifiedAt:
                          type: string
                          format: date-time
                          description: File last modification time
        '403':
          description: Access denied, the user does not have the appropriate permissions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Operation forbidden
        '500':
          description: Server error while retrieving the file list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: There was an internal error while trying to fetch the list of files.
      operationId: get-storage-file-root-group
      security:
      - api_key_in_header: []
components:
  securitySchemes:
    api_key_in_header:
      type: http
      scheme: bearer
      description: ''
    OIDC:
      type: openIdConnect
      openIdConnectUrl: authenticate/oidc
x-tagGroups:
- name: TimeCamp API
  tags:
  - '[v1] User'
  - '[v1] Entry'
  - '[v1] Tags'
  - '[v1] Group'
  - '[v1] Approvals'
  - '[v1] Computer Activities'
  - '[v1] Timer'
  - '[v1] Task'
  - '[v1] Attendance'
  - '[v1] Roles & Permissions'
  - '[v1] Billing Rates'
  - '[v1] Userlog'
  - '[v1] Activity alert'
  - '[v3] Timer'
  - '[v3] Invoices'
  - '[v3] Computer Activities'
  - '[v3] Time Entry'
  - '[v3] Task Archive'
  - '[v3] Time Entry Restriction'
  - '[v3] Expense'
  - '[v3] Plan'
  - '[v3] Storage'
  - '[v3] Module'
  - '[v3] Marketplace'
  - '[v3] Remote work detection'
  - '[v3] Data Export'
  - '[v3] Custom Fields'
  - '[v3] Approval'
  - '[v3] Task'
  - '[v3] Projects'
  - '[v3] Attendance'
  - '[v3] Attendance Requests'
